@page "/"
@using NorthwindEFBase.Data;
@using NorthwindEFBase.Models;

@inject NorthwindEFBase.Data.NorthwindDbContext Context;

<h1>Northwind Base - Employee List</h1>

@if (Employees!=null)
{
<div class="row">
    <div class="col-1">First Name</div><div class="col-1">Last Name</div>
</div>
    foreach (NorthwindEFBase.Models.Employee emp in Employees)
    {
        <div class="row">

            <div class="col-1">@emp.FirstName</div><div class="col-1">@emp.LastName</div>
        </div>
    }
}

@code {      
    private NorthwindDbContext _context;
    private List<Employee> Employees;
    protected override void OnInitialized()
    {
        _context = Context;
        Employees =  _context.Employees.ToList();



        base.OnInitialized();
    }
}
